<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    {% include meta.html %}

    <link rel="icon" href="{{ '/favicon.png' | relative_url }}">
    <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">
    <!-- Ackee tracking script -->
    <script async src="https://tracking.up.railway.app/tracker.js" data-ackee-server="https://tracking.up.railway.app" data-ackee-domain-id="ea477b3c-8a99-4d63-8a24-63bace042179"></script>
<!-- Umami tracking script -->
    <script async defer data-website-id="57901f05-2488-48b5-8fc4-dab54d7d3a43" src="https://tracking-web.up.railway.app/umami.js"></script>
  </head>
  <body class="page {{page.bodyClass}}">
    {% include mobile-menu.html %}
    <div class="container mx-auto px-6 md:px-4">
      {% include header.html %}
      {{content}}
      {% include footer.html %}
    </div>
    {% include google-analytics.html %}
    <script type="text/javascript" src="{{ '/assets/js/hamburger.js' | relative_url }}"></script>
  </body>
</html>
